//colors
$white: #fff;
$color_mountain_mist_approx: #999;
$color_alto_approx: #ddd;

//fonts
$font_0: Century Gothic;
$font_1: Futura;
$font_2: sans-serif;

body {
	font: 14px $font_0, $font_1, $font_2;
	margin: 20px;
}
ol {
	padding-left: 30px;
}
ul {
	padding-left: 30px;
}
.status {
	margin-bottom: 10px;
}
.square {
	background: $white;
	border: 1px solid $color_mountain_mist_approx;
	float: left;
	font-size: 24px;
	font-weight: bold;
	line-height: 34px;
	height: 34px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	text-align: center;
	width: 34px;
	&:focus {
		outline: none;
	}
}
.game {
	display: flex;
	flex-direction: row;
}
.game-info {
	margin-left: 20px;
}
.board-row:after {
	clear: both;
	content: "";
	display: table;
}
.kbd-navigation .square:focus {
	background: $color_alto_approx;
}